#drum-machine {
    background-color: deepskyblue;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.header {
    position: sticky;
    position: absolute;
    top: 0;
    color: tomato;
    width: 100%;
    text-align: center;
    background-color: lightyellow;
}
.display {
    background-color: lightyellow;
    display: flex;
    flex-wrap: wrap;
    border-radius: 1em;
    padding: 5rem;
    margin: 0.5em;
    justify-content: center;
    align-items: center;

}
.box {
    justify-content: center;
    align-items: justify-content;
    flex: 1 0 30%;
    overflow: auto;
}
    button {
    border-radius: .5em;
    overflow: auto;
    width: 7rem;
    height: 7rem;
    background-color: tomato;
    font-weight: 1000;
    color:lemonchiffon;
    }
