#drum-machine {
    background-color: deepskyblue;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.header {
    position: sticky;
    position: absolute;
    top: 0;
    color: tomato;
    width: 100%;
    text-align: center;
    background-color: lightyellow;
}
.display {
    background-color: lightyellow;
    display: flex;
    flex-wrap: wrap;
    border-radius: 1em;
    padding: 1em;
    margin: 1em;

}
.box {
    border-radius: .5em;
    margin: 1px;
    width: 3em;
    height: 8em;
    justify-content: center;
    align-items: center;
    flex: 1 0 30%;
    background-color: tomato;
    font-weight: 1000;
    color:lemonchiffon;
}

